###################################################################################################
# BOT AUCTION HOUSE MODULE
###################################################################################################

[worldserver]

BotAuction.Enable = 1
BotAuction.UpdateInterval = 30000


###################################################################################################
# SELL SYSTEM
###################################################################################################

BotAuction.MaxBotAuctions = 600
BotAuction.ItemsPerCycle = 8
BotAuction.MaxPerHouse = 400


###################################################################################################
# BUY SYSTEM
###################################################################################################

BotAuction.MaxBuysPerCycle = 8
BotAuction.PlayerBuyChance = 25


###################################################################################################
# PRICE CONTROL
###################################################################################################

BotAuction.MaxPlayerPriceMultiplier = 1.5
BotAuction.MaxAbsolutePrice = 250000


###################################################################################################
# MODE
###################################################################################################

# 0 = REALISTIC
# 1 = FORCE BUY EVERYTHING (SAFE)
BotAuction.ForceBuyAll = 0


###################################################################################################
# SAFE FORCE MODE OPTIONS
###################################################################################################

BotAuction.MaxGoldSpendPerCycle = 500000
BotAuction.MinBuyValue = 1000